{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
  <title>
    iFood
  </title>

 <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS --> 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
  <!-- jQuery library --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <!-- Latest compiled JavaScript --> 
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>







<!-- Static navbar -->
     

<div class="container-fluid">



<div class="row">
{{item.picture}} 
<br>
<br>
<br>
<br>
<br>
<br>

  <div class="col-md-4">
  <div class="thumbnail transparent web_app_img">
      <img src={{item.picture}} class="web_app_img">
  <div class="mainpageborders" >
        <h3>{{item.name}}</h3>
        <h5>{{item.instructions}}</h5>  
        <h2>{{item.ingredients}}</h2>
        
        <p><a href={{url_for('dishes', dish_id = item.id)}}> </a>
        </p>  
        </div>
  </div>

      
      
      
  </div>

</div>
</div>
{% endblock %}